@import "variables.css";

main {
    padding: 1rem;
}

#order-by label,
#order-by select {
    float: right;
    margin-right: .5rem;
}

#filter-tab {
    padding: 1rem 1rem 0 0;
}

#filter-tab h1 {
    font-size: 14pt;
}

#filter-form ul {
    padding: .5rem 0;
}

#filter-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
}

#filter-form h2 {
    font-weight: 700;
}

#filter-form li {
    margin: .3rem 0;
    list-style-type: none;
}

#filter-btn {
    background: var(--color-dark);
    color: var(--color-light);
    margin-top: 1rem;
    padding: .5rem;
    font-weight: 700;
}

#catalog {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: left;
    align-content: flex-start;
    flex-wrap: wrap;
}

@media only screen and (min-width: 800px) {
    main {
        display: grid;
        grid-template-rows: 2rem auto;
        grid-template-columns: 250px auto;
    }

    #order-by {
        grid-area: 1 / 1 / 1 / span 2;
    }

    #filter-tab {
        width: 200px;
        grid-area: 2 / 1 / 2 / 1;
        border-right: 1px solid var(--color-shadow);
        margin-right: 2rem;
    }

    #filter-form {
        max-height: initial;
    }

    #catalog {
        grid-area: 2 / 2 / 2 / 2;
    }
}