@import "variables.css";

/* Conteudo principal */
#banner {
    position: relative;
    margin: 2rem 0 .8rem;
    width: 100%;
    background-color: var(--color-hover);
}

#banner-img {
    vertical-align: top;
    margin: auto;
    width: 100%;
    opacity: 80%;
    height: 45vw;
    max-width: 1000px;
    max-height: 500px;
    object-fit: cover;
    box-sizing: border-box;
    background-size: 100%;
    background-image: url(../img/bebe.jpg);
    background-position: 50% 50%;
    filter: brightness(100%);
    transition: filter .4s ease-in;
}

#banner-title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family: "Coiny", cursive;
    font-size: 18pt;
    color: var(--color-light);
    text-shadow: 0 0 7px var(--color-font);
}

#banner-dots {
    text-align: center;
}

.dot {
    display: inline-block;
    margin: 0 1rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--color-font);
}

.current {
    background: var(--color-font);
}

.section-products {
    margin: 3rem 0 4rem;
}

.section-products h1 {
    font-family: "Coiny", cursive;
    text-transform: uppercase;
    font-size: 14pt;
    text-align: center;
}

.product-list {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin: 0 2rem;
}

@media only screen and (min-width: 600px) {
    #banner h2 {
        font-size: 26pt;
    }

    .section-products h1 {
        font-size: 16pt;
    }
}