@import "variables.css";

/* Opções de cores */
:root {
    --blue-option: #59afe0;
    --green-option: #48c25d;
    --pink-option: #e778ac;
    --yellow-option: #dbc252;
}

main {
    padding: 1rem;
}

#product-main,
#product-info {
    padding: .8rem 0;
    background: var(--color-light);
    box-shadow: 0 0 3px var(--color-shadow);
}

#product-main {
    margin-bottom: 1rem;
    text-align: center;
    max-width: 1000px;
}

#product-thumbnails {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail {
    height: 60px;
    width: 60px;
    margin: 0 .4rem .4rem;
    object-fit: cover;
}

#product-img {
    margin-bottom: 1rem;
    height: 360px;
    width: 300px;
    object-fit: cover;
    background: var(--color-shadow);
}

#product-options h1 {
    font-size: 18pt;
}

#product-options p {
    margin: 1rem 0;
}

.options {
    margin: .7rem 0;
}

.options input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.option-label {
    margin: .3rem;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: var(--color-shadow);
    font-size: 10pt;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
}

.options input:checked + .option-label {
    border: 1px solid black;
}

input[type="radio"]:disabled + label {
    text-decoration: line-through;
    cursor: default;
    opacity: 60%;
}

#color-options .option-label {
    width: 1.5rem;
    height: 1.5rem;
}

.pink {
    background: var(--pink-option);
}

.blue {
    background: var(--blue-option);
}

.green {
    background: var(--green-option);
}

.yellow {
    background: var(--yellow-option);
}

input[type=number] {
    border: 1px solid var(--color-shadow);
    width: 3rem;
    padding: .2rem;
    margin: .5rem;
}

#product-info {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.droptext button,
.droptext p {
    width: 80%;
    padding: .5rem;
    max-width: 800px;
    margin: .8rem auto;
}

.droptext p {
    text-align: justify;
    cursor: pointer;
}

.droptext button {
    position: relative;
    display: block;
    background: var(--color-bg);
}

.droptext:focus-within p {
    display: block;
}

@media only screen and (min-width: 620px) {
    #product-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem auto;
    }

    #product-thumbnails {
        grid-column: 1 / span 1;
        flex-direction:  column;
        vertical-align: top;
        align-content: flex-start;
    }

    .thumbnail {
        height: 80px;
        width: 80px;
    }

    #product-img {
        height: 600px;
        width: 500px;
        grid-column: 2 / span 1;
    }

    #product-options {
        padding: 0 .8rem;
        margin: 0 auto;
        text-align: left;
    }
}