@import "variables.css";

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
}

/* Geral */
body {
    font-family: "Quicksand", sans-serif;
    background: var(--color-bg);
    color: var(--color-font);
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-font);
}

hr {
    height: 1px;
    width: 75%;
    margin: .7rem auto;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--color-shadow), rgba(0,0,0,0));
}

button {
    cursor: pointer;
}

.icon {
    height: 25px;
    cursor: pointer;
}

.btn {
    width: 80%;
    margin-top: .6rem;
    padding: .5rem;
    font-weight: 700;
    color: var(--color-light);
    background: var(--color-emphasis);
    border-radius: 15px;
}

.price {
    color: var(--color-dark);
    font-weight: 700;
    font-size: 18pt;
}

.hidden {
    position: absolute !important;
    top: -999rem;
}

.input-field {
    font-size: 0;
}

.input-component {
    outline: none;
    font-size: 12pt;
    padding: .3rem .5rem;
}

/* Cabeçalho */
header {
    position: absolute;
    top: -999rem;
}

/* Menu de Navegação */
nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    background: var(--color-primary);
    box-shadow: 0 2px 1px var(--color-shadow);
}

#nav-mobile {
    padding: .6rem;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#nav-search .search {
    display: none;
}

#nav-search {
    width: 100%;
    text-align: center;
}

#nav-others {
    text-align: right;
}

#nav-others .icon {
    margin-right: .4rem;
}

#nav-menu {
    position: absolute;
    box-shadow: 1px 1px 1px var(--color-shadow);
}

.nav-item,
.nav-sub {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 200px;
    padding: 1rem .5rem;
    background: var(--color-light);
    z-index: 1;
}

.nav-item {
    text-align: left;
    font-weight: 700;
}

.drop-icon {
    position: absolute;
    right: 10px;
    top: 45%;
    width: 20px;
}

.dropdown .dropitem,
.close-icon {
    display: none;
}

.dropdown:focus-within .close-icon {
    display: inline;
}

.dropdown:focus-within .open-icon {
    display: none;
}

.dropdown:hover .dropitem,
.dropdown:focus-within .dropitem {
    display: flex;
    flex-direction: column;
}

/* Barra de pesquisa */
.search {
    width: 70%;
    max-width: 400px;
    margin: 1rem auto 1.5rem;
    border-radius: 30px;
    border: 1px solid var(--color-shadow);
}

.search-input, .search-btn {
    background: var(--color-light);
    box-sizing: border-box;
}

.search-input {
    border-radius: 30px 0 0 30px;
    width: 82%;
}

.search-btn {
    width: 18%;
    border-radius: 0 30px 30px 0;
    text-align: right;
}

.search-btn img {
    width: 15px;
}

/* Rodapé */
footer {
    background: var(--color-primary);
}

#footer-newsletter {
    background: var(--color-dark);
    color: var(--color-light);
    padding: 1.5rem 1rem;
    text-align: center;
}

#newsletter-email {
    margin-top: .5rem;
    width: 65%;
    max-width: 300px;
    border-radius: 6px 0 0 6px;
}

#newsletter-btn {
    font-weight: 600;
    border-radius: 0 6px 6px 0;
    background: var(--color-emphasis);
    color: var(--color-light);
}

#footer-info {
    text-align: center;
    padding: 2rem 0 2.5rem;
}

#footer-links {
    line-height: 2.5rem;
    padding: 1em 0;
}

#footer-links a {
    font-size: 14pt;
    display: block;
}

#footer-social {
    margin: 1rem;
}

#footer-social h1 {
    display: none;
}

#footer-social img {
    width: 40px;
    height: 40px;
    margin: 0 .5rem;
}

#footer-copyright {
    clear: both;
    font-size: 9pt;
    line-height:.9rem;
}

/* Outros */
.product {
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 300px;
    max-height: 400px;
}

.product-img {
    margin: 0 auto .7rem;
    width: 36vw;
    max-width: 90%;
    height: 36vw;
    max-height: 70%;
    background: var(--color-shadow);
}

/* Alterando barra de rolagem para Chrome, Edge, Opera e Safari */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 2px;
}

/* Alterando barra de rolagem para Firefox */ 
.thin-scrollbar {
    scrollbar-width: thin;
}